.videos .localvideo{
    position: absolute;
    height: 150px;
    width: 150px;
    right: 0px;
    bottom:10px;
    z-index: 5;
}


.videos .controlls{
    height: 50px;
    width: 100%;
}

.remotevideo .header{
    position: absolute;
    height: 30px;
    width: 100%;
    background:rgba(0,0,0,0.5);
    color: #fff;
    top: 0px;
    z-index: 5;
    display: none; 
}
